<canvas class="overlay" #overlay></canvas>
<table class="centered-table" #field>
  <tbody>
    <tr *ngFor="let rows of getRows()">
      <td *ngFor="let field of rows" class="center gamefield">
        <b>{{ field.shtBoardPos + 1 }}</b> - {{ field.sText }}
        <ng-container *ngFor="let player of getPlayers()">
          <div *ngIf="player.shtBoardPosition === field.shtBoardPos">
            <div [style.background]="player.sColor" class="color-dot"></div>
          </div>
        </ng-container>
        <ng-container *ngFor="let snek of getSnakes()">
          <ng-container *ngIf="snek.shtStartPoint === field.shtBoardPos">
            <div *ngIf="snek.bSnake">🐍</div>
            <div *ngIf="!snek.bSnake">🧬</div>
          </ng-container>
        </ng-container>
        <div [id]="'field' + field.shtBoardPos"></div>
      </td>
    </tr>
  </tbody>
</table>
