<nav>
  <div class="nav-wrapper teal">
    <a class="brand-logo center">🍻 Schnapps und Likör 🍾</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">🏠 Startseite</a></li>
      <li><a target="_blank" href="https://github.com/RAlbiez/SchnappsAndLiquor">👨‍💻 GitHub</a></li>
      <li><a href="mailto://mail@suffgame.de">📬 Ideen & Anregungen?</a></li>
    </ul>
  </div>
</nav>

<div class="container">

    <!-- Name input field -->
    <div style="margin-top: 15px" class="container">
        <b>Wie lautet dein Name, Unbekannter?</b>
        <input type="text" [(ngModel)]="connection.playerName">
        <div style="color: red;" *ngIf="connection.nameError">langweiliger name brudi</div>
    </div>

    <h3 class="center">Was möchtest du tun?</h3>

    <!-- Create game container -->
    <div class="container ">
        <div class="card-panel grey lighten-2 center">
            <p>Ein neues Spiel für mich und meine Kumpanen erstellen:</p>
            <button class="btn" (click)="createLobby()">
                Erstelle Spiel
            </button>
        </div>
    </div>

    <!-- Join game container -->
    <div class="container ">
        <div class="card-panel grey lighten-2 center">
            Einem offenem Spiel beitreten:
            <input class="center" type="text" [(ngModel)]="connection.gameCode">
            <br>
            <button class="btn" (click)="joinGame()">
                Spiel beitreten
            </button>
            <div style="color: red;" *ngIf="connection.lobbyNotFound">Gibts nicht</div>
        </div>
    </div>
</div>
