<div>
    <div class="frame">
        Spielername
        <input type="text" [(ngModel)]="playerName">
    </div>
    <div class="frame side">
        <div class="frame">
            <p>Eigenes spiel</p>
            <button (click)="createLobby()">
                mache spiel
            </button>
        </div>
        <div class="frame">
            Empfangsraumkennung
            <input type="text" [(ngModel)]="gameCode">
            <br>
            <button (click)="joinGame()">
                trete spiel
            </button>
        </div>
    </div>
</div>
