<div class="row">

  <!-- Info card -->
  <div class="col s2">
    <div class="card small grey lighten-2">
      <div class="card-content">
        <span class="card-title ">ID: {{ connection.gameState.sGameId }}</span>
        <p>Hier können wir in Zukunft eventuell spannende Informationen anzeigen. Vielleicht die
          Aufgabe, auf
          die ein
          Spieler eben gelandet ist.</p>
      </div>
      <div class="card-action center">
        <ul>
          <li><button class="btn" (click)="clipboard.copy(connection.gameState.sGameId)">ID kopieren</button></li>
          <li><button class="btn" (click)="clipboard.copy(getLocation())">Link kopieren</button></li>
        </ul>
      </div>
    </div>

    <!-- Display dice -->
    <div class="card grey lighten-2">
      <div class="card-image">
        <img src="https://theforcer.de/w.png">
      </div>
      <div class="card-action center">
        <button class="btn waves-effect waves-light teal">Würfeln</button>
      </div>
    </div>

    <!-- List of players -->
    <div class="collection">
      <a *ngFor="let i of getPlayers()" class="collection-item">
        <div>{{ i.sName }}<a class="secondary-content">Points: {{ i.lngPoints}}</a></div>
      </a>
    </div>
  </div>

  <div class="col s10">
    <table class="centered-table">
      <tbody>
        <tr *ngFor="let rows of getRows()">
          <td *ngFor="let field of rows" class="center">
            {{ field.sText }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
