<div class="row">

  <!-- Info card -->
  <div class="col s2">
    <div class="card grey lighten-2">
      <div class="card-content">
          <button class="btn" style="width: 100%;" (click)="clipboard.copy(connection.gameState.sGameId)">Lobby ID: {{ connection.gameState.sGameId }}</button>
      </div>
    </div>

    <div class="card grey lighten-2" *ngIf="getCurrentCoice()">
      <div class="card-content">
        <p>{{ getCurrentFieldText() }}</p>
        <div class="card-action center">
          <button
              class="btn waves-effect waves-light teal"
              [disabled]="!getCurrentCoice().bCanSkip"
              (click)="skip()">
            Skip ({{ getCurrentCoice().shtSkipCost }})
          </button>
          <button *ngFor="let i of getCurrentCoice().oChoices"
              class="btn waves-effect waves-light teal"
              [disabled]="!isPlayerTurn()"
              (click)="executeAction(i)">
            {{ i }}
          </button>
        </div>
      </div>
    </div>

    <!-- Display dice -->
    <div class="card grey lighten-2">
      <div class="card-image">
        <div class="dice">
          <div *ngFor="let i of [].constructor(diceNumber)" class="dice-eye"></div>
        </div>
      </div>
      <div class="card-action center">
        <button class="btn waves-effect waves-light teal" (click)="roll()"
        [disabled]="!canRoll()">Würfeln</button>
      </div>
    </div>

    <!-- List of players -->
    <div class="collection">
      <a *ngFor="let player of getPlayers()" class="collection-item" [class.active]="getCurrentPlayer() === player.sName">
        <div>
          <div [style.background]="player.sColor" class="color-dot"></div>
          {{ player.sName }}
          <ng-container *ngIf="player.sName === connection.gameState.sLobbyLeader">(horst)</ng-container>
          <ng-container *ngIf="player.sName === connection.playerName">(du)</ng-container>
          <a class="secondary-content">Points: {{ player.lngPoints}}</a>
        </div>
      </a>
    </div>
  </div>

  <div class="col s10">
    <table class="centered-table">
      <tbody>
        <tr *ngFor="let rows of getRows()">
          <td *ngFor="let field of rows" class="center">
            {{ field.sText }}
            <ng-container *ngFor="let player of getPlayers()">
              <div *ngIf="player.shtBoardPosition === field.shtBoardPos"><div [style.background]="player.sColor" class="color-dot"></div></div>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
